<!DOCTYPE html>
<html>
  <head>
    <title>MusicApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application" %>
  </head>

  <body>
    <% if logged_in? %>
      <h2><%= current_user.email %></h2>
      <form action="<%= session_url %>" method="POST">
        <input type="hidden" name="_method" method="DELETE">
          <button>Logout</button>
      </form>

    <% else %>
      <a href="<%= new_session_url %>">Log in here</a>
      <a href="<%= new_user_url %>">Create new user</a>
    <% end %>

    <%= yield %>
  </body>
</html>
